{% extends "base.html" %}

{% block content %}
    {% if questions %}
        <ul>
            {% for question in questions %}
            <li><a href="{% url 'questions:show' question.id %}"> {{ question.text }}</a></li>
            {% endfor %}
        </ul>

        <div class="pagination">
            {% if questions.has_previous %}
                <a href="?page={{ questions.previous_page_number }}">previous</a>
            {% endif %}

            Page {{ questions.number }} of {{ questions.paginator.num_pages }}

            {% if questions.has_next%}
                <a href="?page={{ questions.next_page_number }}">next</a>
            {% endif %}

        </div>
    {% else %}
        <p>No questions are available. </p>
    {% endif %}

    <a href="{% url 'questions:new' %}">Create question</a>
    <a href="{% url 'images:new' %}">Create image</a>
    <a href="{% url 'images:index' %}">View all images</a>

{% endblock %}
