{% extends "base.html" %}

{% block content %}


    {% if user == question.user %}
        <a href="{% url 'questions:edit' question.id %}">Edit</a>
    {% endif %}
    <h1>{{ question }}</h1>
    Votes: {{ question.votes }}

    Tags: {{ question.tags.all }}


    <br>

    <a href="{% url 'questions:vote_up' question.id %}">Vote up</a> | 
    <a href="{% url 'questions:vote_down' question.id %}">Vote down</a>

    <br>

    <a href="{% url 'questions:new_answer' question.id %}">Add answer</a>

    <table class="answers">
    {% for answer in answers %}
        <tr>
            {% include 'answers/_answer.html' with answer=answer %}
        </tr>
    {% endfor %}
    </table>
{% endblock %}

