{% extends "base.html" %}

{% load filters %}

{% block content %}


    {% if user == question.user %}
        <a href="{% url 'questions:edit' question.id %}">Edit</a>
    {% endif %}

    {% autoescape off %}
    <p>{{ question | replace_urls }}</p>
    {% endautoescape %}

    <p>
        Asked by {{ question.user.username }}
    </p>

    <p>
        Votes: {{ question.votes }}
    </p>

    {% if question.tags.count > 0 %}

        Tags:
        {% for tag in question.tags.all %}
            <a href="{% url 'questions:tagged' tag.slug %}">{{ tag }}</a>
        {% endfor %}

    {% else %}
        No tags. 
    {% endif %}


    <br>

    <a href="{% url 'questions:vote_up' question.id %}">Vote up</a> | 
    <a href="{% url 'questions:vote_down' question.id %}">Vote down</a>

    <br>

    <a href="{% url 'questions:new_answer' question.id %}">Add answer</a>

    <table class="answers">
    {% for answer in answers %}
        <hr>
        {% include 'answers/_answer.html' with answer=answer %}
    {% endfor %}
    </table>
{% endblock %}

