Django==1.7.1
PAM==0.4.2
Pillow==2.6.1
Twisted-Core==14.0.2
Twisted-Web==14.0.2
apt-xapian-index==0.46
argparse==1.2.1
characteristic==0.1.0
chardet==2.2.1
colorama==0.3.1
command-not-found==0.3
debtagshw==0.1
defer==1.0.6
dirspec==13.10
dj-database-url==0.3.0
dj-static==0.0.6
django-toolbelt==0.0.1
gunicorn==19.1.1
html5lib==0.999
httplib2==0.9
idna==0.9
lxml==3.3.6
oauthlib==0.6.1
oneconf==0.3.7
pexpect==3.2
piston-mini-client==0.7.5
psutil==2.1.1
psycopg2==2.5.4
pyOpenSSL==0.13.1
pyasn1==0.1.7
pyasn1-modules==0.0.5
pycrypto==2.6.1
pycups==1.9.67
pygobject==3.14.0
pyserial==2.6
python-apt==0.9.3.10ubuntu1
python-debian==0.1.22
pyxdg==0.25
reportlab==3.1.8
requests==2.3.0
service-identity==1.0.0
sessioninstaller==0.0.0
six==1.7.3
software-center-aptd-plugins==0.0.0
static3==0.5.1
urllib3==1.8.3
wheel==0.24.0
wsgiref==0.1.2
zope.interface==4.1.1
