{% load filters %}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="vote-links">
            <a href="{% url 'questions:vote_up_answer' answer.id %}">
                <button type="button" class="btn btn-xs btn-default">
                    <span class="glyphicon glyphicon-chevron-up">
                    </span>
                </button>
            </a>
            <a href="{% url 'questions:vote_down_answer' answer.id %}">
                <button type="button" class="btn btn-xs btn-default">
                    <span class="glyphicon glyphicon-chevron-down">
                    </span>
                </button>
            </a>
            <span class="badge">
                Points: {{ answer.votes }}
            </span>
        </a>

        ::

        <em>Asked by </em><strong>{{ answer.user.username }}</strong>
        {% if user == answer.user %}
            <span class="edit-link pull-right">
                <a href="{% url 'questions:edit_answer' answer.id %}">
                    Edit answer</a>
            </span>
        {% endif %}
    </div>
    <div class="panel-body">
        <p>
            {% autoescape off %}
            {{ answer|replace_urls }}
            {% endautoescape %}
        </p>
    </div>
</div>


